[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autopep8 = "*"
django = "==3.2.20"
pillow = "*"
django-tastypie = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.11"
